{% extends "car/base.html" %} <!--Extending base template-->
{% load crispy_forms_tags %} <!--allows to use crispy filters to the form-->
{% block content %}
    <div class="content-section bg-dark text-light border border-dark p-4 rounded">
        <form method="POST">
             {% csrf_token %} <!--protect our form against certain attacks -->
             <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register</legend>
                {{ form|crispy }}
             </fieldset>
             <div class="form-group">
                <button class="btn btn-outline-info mb-4" type="submit">Sign Up</button>
             </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-light">Already Have An Account?<a href="{% url 'login' %}" style="text-decoration: none; margin-left: 2px;">Sign In</a></small>
        </div>
    </div>
{% endblock content %}